/*  Paper  */
.paper-container {
    position: absolute;
    height: 100%;
    overflow: hidden;
    top: 50px;  /* space for toolbar */
    left: 0px; /* space for stencil 240*/
    right: 0px; /* space for inspector 240*/
}
/*  Inspector  */
.inspector-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 240px;
}
/*  Stencil  */
.stencil-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 240px;
}
/*  Toolbar  */
.toolbar-container {
    position: absolute;
    height: 50px;
    top: 1px;
    left: 0; /* space for stencil */
    right: 0;
}
